@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-weight: Playfair Display, serif;
}

nav {
    background: #CD8049;
    height: 80px;
    width: 100%;

}

label.logo {
    color: #252525;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 6px;
}

nav ul li a {
    color: #252525;
    font-size: 18px;
    /* text-transform: uppercase; */
}

