@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Oswald', sans-serif;
}

nav {
    background: #e4782b;
    height: 80px;
    width: 100%;

}

label.logo {
    color: #252525;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height:85px;
    padding: 0 100px;
    font-weight: bolder;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 85px;
    margin: 0 6px;
}

nav ul li a {
    color: #252525;
    font-size: 20px;
    padding: 7px 14px;
    letter-spacing: 3px;
    border-radius: 4.5px;
    /* text-transform: uppercase; */
}

a.active,a:hover {
    background: #ee9454;
    transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #252525;
  float: right;
  line-height: 85px;  
  margin-right: 40px;
  cursor: pointer;
}



